body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.barradenav {
    background-color: #a1bcd6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.here {
    background: url('./img/bgimg.jpg') no-repeat center center/cover;
    height: 100vh;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1200px;
    color: white;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 100%;
}
.quemsomos{
    text-decoration: none;
    color: grey;
}
.quemsomos:hover{
    color: blue;
}
.grid-conteiner{
    background-color: #343a40;
    color: white;
    padding: 15px 50px;
    height: 50fr;   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    gap: 15px;
}
.botoesa {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.botoesa:hover {
    background-color: #0056b3;
}